#root {
  max-width: 1280px;
  font-size: 16px;
  overflow-x: hidden;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
  --dark-green: #00202e;
  --cream: #fffaf0;
  --yellow: #fdd03b;
}
main {
  background-color: var(--dark-green);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*Navigation Bar*/
.ul-navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0 auto;

  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
.header {
  height: 100px;
  width: 100vw;
  background-color: #fffaf0;

  z-index: 5;
}
.navbar {
  height: 100px;
}

.header-nav-link {
  color: var(--dark-green);
  font-size: 1.5rem;
}
.header-nav-link:hover {
  color: #cb7f07;
  font-size: 1.5rem;
}

.content-reservas {
  border: solid var(--dark-green) 2px;
  padding: 15px 20px;
}

.header-nav-link-reservas {
  color: var(--dark-green);
  font-size: 1.5rem;
}
.header-nav-link-reservas:hover {
  color: var(--dark-green);
  font-size: 1.8rem;
}

/*footer*/
footer {
  height: 300px;
  width: 100vw;
  background-color: var(--dark-green);
  position: static;
}

.footer-text {
  color: var(--yellow);
  font-size: 1rem;
  text-align: center;
  width: 200px;
}
.icon-footer {
  color: var(--yellow);
  padding: 0 5px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 40px;
}
.footer-subcontent {
  padding: 0 100px;
}
.footer-subcontent-min {
  margin: 100px;
}
.footer-text-min {
  color: var(--yellow);
  font-size: 0.8rem;
}

/*home*/
.banner-image {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.home-menu {
  padding-top: 60px;
  height: 950px;
  width: 100vw;
  background-color: var(--cream);
}
.home-eventos {
  width: 100vw;
  background-color: var(--dark-green);
}
.text-homepage {
  color: var(--yellow);
  padding: 60px;
  margin: 0;
}

p {
  color: white;
  font-size: 40px;
}

.home-menu-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
  border: var(--dark-green) 2px solid;
  width: 1300px;
  height: auto;
}
.home-menu-subcontainer {
  width: 600px;
  height: 400px;
}

.home-menu-subcontainer-img {
  width: 600px;
  height: 400px;
}

.home-menu-subcontainer-text {
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-event-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*Nosotros-About*/
.title-container {
  position: static;
}
.title-text {
  font-size: 3rem;
}
.grid-container {
  display: block;
  width: 65%;
  margin: 0 auto;
}
.about-image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  position: static;

  width: 100%;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-image-grid-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.about-image-grid-2 {
  grid-column-start: 4;
  grid-column-end: 6;
}
.about-image-grid-3 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
.about-image-grid-4 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.about-image-grid-5 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*Reservas y menu*/
.reserva-container-section-1 {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-green);
  justify-content: center;
  column-gap: 100px;
  padding: 20px;
}

.reserva-image-2 {
  width: 600px;
  height: 400px;
  object-fit: cover;
}
.reserva-image {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.reserva-evento-botón-1 {
  background-color: #fdd03b;
  font-weight: bolder;
  width: 350px;
  height: 70px;
}
.reserva-evento-botón-2 {
  background-color: #4a9396;
  font-weight: bold;
  width: 350px;
  height: 70px;
}
.reserva-evento-section {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  row-gap: 50px;
}
.reserva-boton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--dark-green);
  padding: 15px;
}
/*reserva evento */
p {
  color: var(--dark-green);
}
.gestion-reservas {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
}

.eventos-reservables {
  border: 1px solid black;
  padding: 20px 100px;
  background-color: var(--cream);
}

.bloque-reserva {
  border: 1px solid black;
  padding: 20px 100px;
}
h3.title-reservas {
  color: var(--yellow);
}
.reservacion {
  border: 1px solid black;
  padding: 20px 100px;
  background-color: var(--dark-green);
}
li.reserva-realizada {
  color: var(--yellow);
}
p.reserva-realizada {
  color: var(--yellow);
}
.reservas-realizadas-container {
  border: 1px solid black;
  padding: 20px 100px;
  color: var(--yellow);
}
ul {
  list-style: none;
  padding: 0;
}

.evento {
  color: var(--dark-green);
  font-size: 1.3rem;
}
.reserva-realizada {
  color: var(--dark-green);
  font-size: 1.3rem;
}
h2 {
  color: var(--yellow);
  font-size: 2.5rem;
}
h3 {
  color: var(--dark-green);
  font-size: 2rem;
  text-align: center;
}
/*reserva  día*/
form {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  row-gap: 10px;
}
/*eventos*/
.event-grid-container {
  width: 55%;
  margin: 0 auto;
}
.event-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
  margin: 0 auto;
}

.event-image-grid-1 {
  width: 400px;
  height: 500px;
  object-fit: cover;
}
.event-image-grid-1:hover {
  width: 400px;
  height: 500px;
  object-fit: cover;
  animation-name: imagen-evento;
  animation-duration: 1s;
}

@keyframes imagen-evento {
  from {
    width: 400px;
    height: 500px;
  }
  to {
    transform: translate(-10px, -10px);
  }
}
